.form-container {
    background-color:;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
}

.btn-custom {
    background-color: lightgoldenrodyellow;
    border-color: lightgoldenrodyellow;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active {
    background-color: #3f7bc5;
    border-color: #3f7bc5;
}
